<h3>Eredmények</h3>
<style>
    td {vertical-align: middle !important;}
    tr { height: 90px;}
</style>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Név</th>
            <th>Szavazatok</th>
            <th>Százalék</th>
        </tr>
    {{#each arr}}
        <tr>
            <td>{{name}}</td>
            <td >{{aksz}}</td>
            <td >{{szazalek akprec}}</td>
        </tr>
    {{/each}}
</table>
</div>