<form ref='uploadForm'
      id='uploadForm'
      action='upload'
      method='post'
      encType="multipart/form-data">
    <input type="file" name="sampleFile" />
    <br>
    <!--<input type='submit' value='Upload!' />-->
    <button class="btn btn-primary">Feltöltés!</button>
</form>